### Note
* Pete Broll, 9 Nov 2019.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# identify the number of records for all schools
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [3]:
# make a copy of the data - prevent corrupting the orignal
converted_school_data = school_data_complete.copy()

In [4]:
# count the number of schools
schools = converted_school_data["school_name"].unique()
print(schools)
total_schools = len(schools)
print(total_schools)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']
15

In [5]:
# create a schools dataframe
schools_df = pd.DataFrame(schools)
schools_df.head(15)

                        0
0       Huang High School
1    Figueroa High School
2     Shelton High School
3   Hernandez High School
4     Griffin High School
5      Wilson High School
6     Cabrera High School
7      Bailey High School
8      Holden High School
9        Pena High School
10     Wright High School
11  Rodriguez High School
12    Johnson High School
13       Ford High School
14     Thomas High School

In [6]:
# rename column
schools_df = schools_df.rename(
    columns={0: "school_name"})
schools_df

              school_name
0       Huang High School
1    Figueroa High School
2     Shelton High School
3   Hernandez High School
4     Griffin High School
5      Wilson High School
6     Cabrera High School
7      Bailey High School
8      Holden High School
9        Pena High School
10     Wright High School
11  Rodriguez High School
12    Johnson High School
13       Ford High School
14     Thomas High School

In [7]:
type_school = converted_school_data["type"].value_counts()
type_school

District    26976
Charter     12194
Name: type, dtype: int64

In [8]:
# count the total number of students
total_students = converted_school_data["Student ID"].count()
total_students

39170

In [9]:
# check the data type for the budget data
converted_school_data["budget"].dtypes

dtype('int64')

In [10]:
# converted_school_data["budget"].dtypes

In [11]:
# check to see if the budget for each school is unique == same length as number of schools
budget_unique = converted_school_data["budget"].unique()
len(budget_unique)

15

In [12]:
# check value of unique budget amounts
budget_unique

array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130], dtype=int64)

In [13]:
# find the total budget of all schools by summing the each "unique" school budget
total_budget = budget_unique.sum()
total_budget

24649428

In [14]:
# convert the total budget to a currency format string
total_budget_currency = '${:,.2f}'.format(total_budget)
total_budget_currency

'$24,649,428.00'

In [15]:
# find the average math score by using the .mean method
avg_math_score = converted_school_data["math_score"].mean()
avg_math_score

78.98537145774827

In [16]:
# find the average reading score by using the .mean method
avg_reading_score = converted_school_data["reading_score"].mean()
avg_reading_score

81.87784018381414

In [17]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
pass_rate = (avg_math_score + avg_reading_score) / 2
pass_rate

80.43160582078121

In [18]:
# Calculate the percentage of students with a passing math score (70 or greater)
# find the number of students that scored 70 or greater
math_pass = converted_school_data.loc[converted_school_data["math_score"] >= 70, ["school_name", "math_score"]]
### check
print(math_pass)

math_pass_count = math_pass["math_score"].count()
math_pass_count

# calculate the district-wide percentage passing math: (number of passing students / number of total students) * 100
math_pass_percent = (math_pass_count / total_students) * 100
# show result
math_pass_percent

              school_name  math_score
0       Huang High School          79
4       Huang High School          84
5       Huang High School          94
6       Huang High School          80
8       Huang High School          87
...                   ...         ...
39165  Thomas High School          90
39166  Thomas High School          70
39167  Thomas High School          84
39168  Thomas High School          90
39169  Thomas High School          75

[29370 rows x 2 columns]

74.9808526933878

In [19]:
# Calculate the percentage of students with a passing reading score (70 or greater)
# find the number of students that scored 70 or greater
read_pass = converted_school_data.loc[converted_school_data["reading_score"] >= 70, ["school_name", "reading_score"]]

read_pass_count = read_pass["reading_score"].count()
read_pass_count

# calculate the district-wide percentage passing reading: (number of passing students / number of total students) * 100
read_pass_percent = (read_pass_count / total_students) * 100
# show result
read_pass_percent

85.80546336482001

In [20]:
# pass a dictionary into a pandas data frame and change key (title) names to remove underscores for table display but did not for example

# dictionary for district summary - keys (strings) will be the column titles
district_summary = {
    "Total School": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget_currency],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [math_pass_percent],
    "% Passing Reading": [read_pass_percent],
    "% Overall Passing Rate": [pass_rate]
}
# create summary data frame
district_df = pd.DataFrame(district_summary, columns=["Total School", "Total Students", "Total Budget", 
                                                  "Average Math Score", "Average Reading Score", "% Passing Math", 
                                                  "% Passing Reading", "% Overall Passing Rate"])

#  District Summary Table Results

In [21]:
# output the summary data frame
district_df

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

## Next section for school based statistics

In [22]:
# make a copy of the data - prevent corrupting the orignal
new_school_df = school_data_complete.copy()
new_school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [23]:
# Extract Columns
school_col_df = new_school_df[["school_name", "type", "size", "budget", 
                              "math_score", "reading_score", "grade"]]
                           
school_col_df.head()

         school_name      type  size   budget  math_score  reading_score grade
0  Huang High School  District  2917  1910635          79             66   9th
1  Huang High School  District  2917  1910635          61             94  12th
2  Huang High School  District  2917  1910635          60             90  12th
3  Huang High School  District  2917  1910635          58             67  12th
4  Huang High School  District  2917  1910635          84             97   9th

In [24]:
mean1 = school_col_df.groupby(['school_name', 'type']).mean()
newest_df = pd.DataFrame(mean1)
newest_df.head(15)

                                  size     budget  math_score  reading_score
school_name           type
Bailey High School    District  4976.0  3124928.0   77.048432      81.033963
Cabrera High School   Charter   1858.0  1081356.0   83.061895      83.975780
Figueroa High School  District  2949.0  1884411.0   76.711767      81.158020
Ford High School      District  2739.0  1763916.0   77.102592      80.746258
Griffin High School   Charter   1468.0   917500.0   83.351499      83.816757
Hernandez High School District  4635.0  3022020.0   77.289752      80.934412
Holden High School    Charter    427.0   248087.0   83.803279      83.814988
Huang High School     District  2917.0  1910635.0   76.629414      81.182722
Johnson High School   District  4761.0  3094650.0   77.072464      80.966394
Pena High School      Charter    962.0   585858.0   83.839917      84.044699
Rodriguez High School District  3999.0  2547363.0   76.842711      80.744686
Shelton High School   Charter   1761.0  1056600.0   83.359455      83.725724
Thomas High School    Charter   1635.0  1043130.0   83.418349      83.848930
Wilson High School    Charter   2283.0  1319574.0   83.274201      83.989488
Wright High School    Charter   1800.0  1049400.0   83.682222      83.955000

In [25]:
# Merge two dataframes using an inner join
merge_table = pd.merge(schools_df, newest_df, on="school_name", how="right")
merge_table

              school_name    size     budget  math_score  reading_score
0       Huang High School  2917.0  1910635.0   76.629414      81.182722
1    Figueroa High School  2949.0  1884411.0   76.711767      81.158020
2     Shelton High School  1761.0  1056600.0   83.359455      83.725724
3   Hernandez High School  4635.0  3022020.0   77.289752      80.934412
4     Griffin High School  1468.0   917500.0   83.351499      83.816757
5      Wilson High School  2283.0  1319574.0   83.274201      83.989488
6     Cabrera High School  1858.0  1081356.0   83.061895      83.975780
7      Bailey High School  4976.0  3124928.0   77.048432      81.033963
8      Holden High School   427.0   248087.0   83.803279      83.814988
9        Pena High School   962.0   585858.0   83.839917      84.044699
10     Wright High School  1800.0  1049400.0   83.682222      83.955000
11  Rodriguez High School  3999.0  2547363.0   76.842711      80.744686
12    Johnson High School  4761.0  3094650.0   77.072464      80.966394
13       Ford High School  2739.0  1763916.0   77.102592      80.746258
14     Thomas High School  1635.0  1043130.0   83.418349      83.848930

In [26]:
# # Set new index to school_name
new_school_df = new_school_df.set_index(["school_name"])
new_school_df.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635

In [27]:
# make a school_name groupby for those passing math, 70% or greater, at each school
math_pass_gby = math_pass.groupby(["school_name"]).count()
print (math_pass_gby.head(15))

                       math_score
school_name
Bailey High School           3318
Cabrera High School          1749
Figueroa High School         1946
Ford High School             1871
Griffin High School          1371
Hernandez High School        3094
Holden High School            395
Huang High School            1916
Johnson High School          3145
Pena High School              910
Rodriguez High School        2654
Shelton High School          1653
Thomas High School           1525
Wilson High School           2143
Wright High School           1680

In [28]:
# make a school_name groupby for those passing reading, 70% or greater, at each school
read_pass_gby = read_pass.groupby(["school_name"]).count()
print (read_pass_gby.head(15))

                       reading_score
school_name
Bailey High School              4077
Cabrera High School             1803
Figueroa High School            2381
Ford High School                2172
Griffin High School             1426
Hernandez High School           3748
Holden High School               411
Huang High School               2372
Johnson High School             3867
Pena High School                 923
Rodriguez High School           3208
Shelton High School             1688
Thomas High School              1591
Wilson High School              2204
Wright High School              1739

In [29]:
# Calculate the budget per pupil
new_school_df['Per Student Budget'] = (new_school_df['budget'] / new_school_df['size'])
new_school_df.head(10)

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget,Per Student Budget
school_name,,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635,655.0
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635,655.0
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635,655.0
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635,655.0
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635,655.0
Huang High School,5,Bryan Miranda,M,9th,94,94,0,District,2917,1910635,655.0
Huang High School,6,Sheena Carter,F,11th,82,80,0,District,2917,1910635,655.0
Huang High School,7,Nicole Baker,F,12th,96,69,0,District,2917,1910635,655.0
Huang High School,8,Michael Roth,M,10th,95,87,0,District,2917,1910635,655.0
Huang High School,9,Matthew Greene,M,10th,96,84,0,District,2917,1910635,655.0

In [30]:
# Insert the number passing math into the school_name indexed dataframe
new_school_df['Passed Math'] = math_pass_gby
new_school_df.head(10)

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget,Per Student Budget,Passed Math
school_name,,,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635,655.0,1916
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635,655.0,1916
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635,655.0,1916
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635,655.0,1916
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635,655.0,1916
Huang High School,5,Bryan Miranda,M,9th,94,94,0,District,2917,1910635,655.0,1916
Huang High School,6,Sheena Carter,F,11th,82,80,0,District,2917,1910635,655.0,1916
Huang High School,7,Nicole Baker,F,12th,96,69,0,District,2917,1910635,655.0,1916
Huang High School,8,Michael Roth,M,10th,95,87,0,District,2917,1910635,655.0,1916
Huang High School,9,Matthew Greene,M,10th,96,84,0,District,2917,1910635,655.0,1916

In [31]:
# Insert the number passing reading into the school_name indexed dataframe
new_school_df['Passed Reading'] = read_pass_gby
new_school_df.head(10)

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget,Per Student Budget,Passed Math,Passed Reading
school_name,,,,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635,655.0,1916,2372
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635,655.0,1916,2372
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635,655.0,1916,2372
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635,655.0,1916,2372
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635,655.0,1916,2372
Huang High School,5,Bryan Miranda,M,9th,94,94,0,District,2917,1910635,655.0,1916,2372
Huang High School,6,Sheena Carter,F,11th,82,80,0,District,2917,1910635,655.0,1916,2372
Huang High School,7,Nicole Baker,F,12th,96,69,0,District,2917,1910635,655.0,1916,2372
Huang High School,8,Michael Roth,M,10th,95,87,0,District,2917,1910635,655.0,1916,2372
Huang High School,9,Matthew Greene,M,10th,96,84,0,District,2917,1910635,655.0,1916,2372

In [32]:
# Modify the number passing math and reading as a percentage of school size
new_school_df['% Passed Math'] = (new_school_df['Passed Math'] / new_school_df['size']) * 100
new_school_df['% Passed Reading'] = (new_school_df['Passed Reading'] / new_school_df['size']) * 100
new_school_df.head(10)

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget,Per Student Budget,Passed Math,Passed Reading,% Passed Math,% Passed Reading
school_name,,,,,,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421
Huang High School,5,Bryan Miranda,M,9th,94,94,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421
Huang High School,6,Sheena Carter,F,11th,82,80,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421
Huang High School,7,Nicole Baker,F,12th,96,69,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421
Huang High School,8,Michael Roth,M,10th,95,87,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421
Huang High School,9,Matthew Greene,M,10th,96,84,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421

In [33]:
# Add the Overall Passing Rate: % pass math + reading divided by 2
new_school_df['Overall Passing Rate'] = (new_school_df['% Passed Math'] + new_school_df['% Passed Reading']) / 2
new_school_df.head(10)

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget,Per Student Budget,Passed Math,Passed Reading,% Passed Math,% Passed Reading,Overall Passing Rate
school_name,,,,,,,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
Huang High School,5,Bryan Miranda,M,9th,94,94,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
Huang High School,6,Sheena Carter,F,11th,82,80,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
Huang High School,7,Nicole Baker,F,12th,96,69,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
Huang High School,8,Michael Roth,M,10th,95,87,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
Huang High School,9,Matthew Greene,M,10th,96,84,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171

In [34]:
# Merge two dataframes using an inner join
merge_table2 = pd.merge(merge_table, new_school_df, on="school_name", how="left")
merge_table2.head()

,school_name,size_x,budget_x,math_score_x,reading_score_x,Student ID,student_name,gender,grade,reading_score_y,...,School ID,type,size_y,budget_y,Per Student Budget,Passed Math,Passed Reading,% Passed Math,% Passed Reading,Overall Passing Rate
0,Huang High School,2917.0,1910635.0,76.629414,81.182722,0,Paul Bradley,M,9th,66,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
1,Huang High School,2917.0,1910635.0,76.629414,81.182722,1,Victor Smith,M,12th,94,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
2,Huang High School,2917.0,1910635.0,76.629414,81.182722,2,Kevin Rodriguez,M,12th,90,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
3,Huang High School,2917.0,1910635.0,76.629414,81.182722,3,Dr. Richard Scott,M,12th,67,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
4,Huang High School,2917.0,1910635.0,76.629414,81.182722,4,Bonnie Ray,F,9th,97,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171

In [35]:
# rename the school_name and type columns
merge_table2 = merge_table2.rename(
    columns={"school_name": "School Name", 
             "type": "Type"})
merge_table2.head(15)

,School Name,size_x,budget_x,math_score_x,reading_score_x,Student ID,student_name,gender,grade,reading_score_y,...,School ID,Type,size_y,budget_y,Per Student Budget,Passed Math,Passed Reading,% Passed Math,% Passed Reading,Overall Passing Rate
0,Huang High School,2917.0,1910635.0,76.629414,81.182722,0,Paul Bradley,M,9th,66,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
1,Huang High School,2917.0,1910635.0,76.629414,81.182722,1,Victor Smith,M,12th,94,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
2,Huang High School,2917.0,1910635.0,76.629414,81.182722,2,Kevin Rodriguez,M,12th,90,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
3,Huang High School,2917.0,1910635.0,76.629414,81.182722,3,Dr. Richard Scott,M,12th,67,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
4,Huang High School,2917.0,1910635.0,76.629414,81.182722,4,Bonnie Ray,F,9th,97,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
5,Huang High School,2917.0,1910635.0,76.629414,81.182722,5,Bryan Miranda,M,9th,94,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
6,Huang High School,2917.0,1910635.0,76.629414,81.182722,6,Sheena Carter,F,11th,82,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
7,Huang High School,2917.0,1910635.0,76.629414,81.182722,7,Nicole Baker,F,12th,96,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
8,Huang High School,2917.0,1910635.0,76.629414,81.182722,8,Michael Roth,M,10th,95,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
9,Huang High School,2917.0,1910635.0,76.629414,81.182722,9,Matthew Greene,M,10th,96,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
10,Huang High School,2917.0,1910635.0,76.629414,81.182722,10,Andrew Alexander,M,10th,90,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
11,Huang High School,2917.0,1910635.0,76.629414,81.182722,11,Daniel Cooper,M,10th,78,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
12,Huang High School,2917.0,1910635.0,76.629414,81.182722,12,Brittney Walker,F,9th,64,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
13,Huang High School,2917.0,1910635.0,76.629414,81.182722,13,William Long,M,9th,71,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171
14,Huang High School,2917.0,1910635.0,76.629414,81.182722,14,Tammy Hebert,F,10th,85,...,0,District,2917,1910635,655.0,1916,2372,65.683922,81.316421,73.500171

In [36]:
# Using GroupBy in order to separate the data into fields according to "school_name" values
merge_table2_gby = merge_table2.groupby(['School Name', 'Type'])

# In order to be visualized, a data function must be used...
all_table_df = merge_table2_gby.mean().head(20)
all_table_df

,,size_x,budget_x,math_score_x,reading_score_x,Student ID,reading_score_y,math_score_y,School ID,size_y,budget_y,Per Student Budget,Passed Math,Passed Reading,% Passed Math,% Passed Reading,Overall Passing Rate
School Name,Type,,,,,,,,,,,,,,,,
Bailey High School,District,4976.0,3124928.0,77.048432,81.033963,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,628.0,3318.0,4077.0,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858.0,1081356.0,83.061895,83.975780,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,582.0,1749.0,1803.0,94.133477,97.039828,95.586652
Figueroa High School,District,2949.0,1884411.0,76.711767,81.158020,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,639.0,1946.0,2381.0,65.988471,80.739234,73.363852
Ford High School,District,2739.0,1763916.0,77.102592,80.746258,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,644.0,1871.0,2172.0,68.309602,79.299014,73.804308
Griffin High School,Charter,1468.0,917500.0,83.351499,83.816757,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,625.0,1371.0,1426.0,93.392371,97.138965,95.265668
Hernandez High School,District,4635.0,3022020.0,77.289752,80.934412,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0,652.0,3094.0,3748.0,66.752967,80.862999,73.807983
Holden High School,Charter,427.0,248087.0,83.803279,83.814988,23060.0,83.814988,83.803279,8.0,427.0,248087.0,581.0,395.0,411.0,92.505855,96.252927,94.379391
Huang High School,District,2917.0,1910635.0,76.629414,81.182722,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0,655.0,1916.0,2372.0,65.683922,81.316421,73.500171
Johnson High School,District,4761.0,3094650.0,77.072464,80.966394,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0,650.0,3145.0,3867.0,66.057551,81.222432,73.639992
Pena High School,Charter,962.0,585858.0,83.839917,84.044699,23754.5,84.044699,83.839917,9.0,962.0,585858.0,609.0,910.0,923.0,94.594595,95.945946,95.270270
Rodriguez High School,District,3999.0,2547363.0,76.842711,80.744686,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0,637.0,2654.0,3208.0,66.366592,80.220055,73.293323
Shelton High School,Charter,1761.0,1056600.0,83.359455,83.725724,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0,600.0,1653.0,1688.0,93.867121,95.854628,94.860875
Thomas High School,Charter,1635.0,1043130.0,83.418349,83.848930,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0,638.0,1525.0,1591.0,93.272171,97.308869,95.290520
Wilson High School,Charter,2283.0,1319574.0,83.274201,83.989488,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0,578.0,2143.0,2204.0,93.867718,96.539641,95.203679
Wright High School,Charter,1800.0,1049400.0,83.682222,83.955000,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0,583.0,1680.0,1739.0,93.333333,96.611111,94.972222

In [37]:
# Extract Columns for by school summary table
final_df = all_table_df[[ "size_x", "budget_x", "Per Student Budget", "math_score_x", "reading_score_x", 
                          "% Passed Math", "% Passed Reading", "Overall Passing Rate"]]
                           
final_df.head()

,,size_x,budget_x,Per Student Budget,math_score_x,reading_score_x,% Passed Math,% Passed Reading,Overall Passing Rate
School Name,Type,,,,,,,,
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

In [38]:
# rename columns
final_df = final_df.rename(
    columns={"size_x": "Total Students",
             "budget_x": "Total School Budget", 
             "math_score_x": "Average Math Score", 
             "reading_score_x": "Average Reading Score"})
final_df.head(15)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,Overall Passing Rate
School Name,Type,,,,,,,,
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427.0,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761.0,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800.0,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

# School Summary Results

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [39]:
# Final Overview Table with Key Metrics for Each School
final_df.head(15)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,Overall Passing Rate
School Name,Type,,,,,,,,
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427.0,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761.0,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800.0,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [40]:
# To sort from highest to lowest, ascending=False must be passed in
best_pass_df = final_df.sort_values("Overall Passing Rate", ascending=False)
best_pass_df.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,Overall Passing Rate
School Name,Type,,,,,,,,
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [41]:
# To sort from highest to lowest, ascending=False must be passed in
worst_pass_df = final_df.sort_values("Overall Passing Rate", ascending=True)
worst_pass_df.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,Overall Passing Rate
School Name,Type,,,,,,,,
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [42]:
# set up table of grades and math/reading scores
by_grade_scores_df = merge_table2[["School Name", "grade", "math_score_y", "reading_score_y"]]             
by_grade_scores_df.head()

         School Name grade  math_score_y  reading_score_y
0  Huang High School   9th            79               66
1  Huang High School  12th            61               94
2  Huang High School  12th            60               90
3  Huang High School  12th            58               67
4  Huang High School   9th            84               97

In [43]:
# rename the score columns
by_grade_scores_df = by_grade_scores_df.rename(
    columns={"grade": "Grade",
             "math_score_y": "Math Score", 
             "reading_score_y": "Reading Score"})
by_grade_scores_df.head(15)

          School Name Grade  Math Score  Reading Score
0   Huang High School   9th          79             66
1   Huang High School  12th          61             94
2   Huang High School  12th          60             90
3   Huang High School  12th          58             67
4   Huang High School   9th          84             97
5   Huang High School   9th          94             94
6   Huang High School  11th          80             82
7   Huang High School  12th          69             96
8   Huang High School  10th          87             95
9   Huang High School  10th          84             96
10  Huang High School  10th          70             90
11  Huang High School  10th          77             78
12  Huang High School   9th          79             64
13  Huang High School   9th          79             71
14  Huang High School  10th          67             85

In [44]:
ninth= by_grade_scores_df.loc[by_grade_scores_df["Grade"] == "9th", :]
ninth.head()

          School Name Grade  Math Score  Reading Score
0   Huang High School   9th          79             66
4   Huang High School   9th          84             97
5   Huang High School   9th          94             94
12  Huang High School   9th          79             64
13  Huang High School   9th          79             71

In [45]:
ninth_gby_mean = ninth.groupby('School Name').mean()
print(ninth_gby_mean)

                       Math Score  Reading Score
School Name
Bailey High School      77.083676      81.303155
Cabrera High School     83.094697      83.676136
Figueroa High School    76.403037      81.198598
Ford High School        77.361345      80.632653
Griffin High School     82.044010      83.369193
Hernandez High School   77.438495      80.866860
Holden High School      83.787402      83.677165
Huang High School       77.027251      81.290284
Johnson High School     77.187857      81.260714
Pena High School        83.625455      83.807273
Rodriguez High School   76.859966      80.993127
Shelton High School     83.420755      84.122642
Thomas High School      83.590022      83.728850
Wilson High School      83.085578      83.939778
Wright High School      83.264706      83.833333

In [46]:
tenth= by_grade_scores_df.loc[by_grade_scores_df["Grade"] == "10th", :]
tenth_gby_mean = tenth.groupby('School Name').mean()
print(tenth_gby_mean)

                       Math Score  Reading Score
School Name
Bailey High School      76.996772      80.907183
Cabrera High School     83.154506      84.253219
Figueroa High School    76.539974      81.408912
Ford High School        77.672316      81.262712
Griffin High School     84.229064      83.706897
Hernandez High School   77.337408      80.660147
Holden High School      83.429825      83.324561
Huang High School       75.908735      81.512386
Johnson High School     76.691117      80.773431
Pena High School        83.372000      83.612000
Rodriguez High School   76.612500      80.629808
Shelton High School     82.917411      83.441964
Thomas High School      83.087886      84.254157
Wilson High School      83.724422      84.021452
Wright High School      84.010288      83.812757

In [47]:
eleventh= by_grade_scores_df.loc[by_grade_scores_df["Grade"] == "11th", :]
eleventh_gby_mean = eleventh.groupby('School Name').mean()
print(eleventh_gby_mean)

                       Math Score  Reading Score
School Name
Bailey High School      77.515588      80.945643
Cabrera High School     82.765560      83.788382
Figueroa High School    76.884344      80.640339
Ford High School        76.918058      80.403642
Griffin High School     83.842105      84.288089
Hernandez High School   77.136029      81.396140
Holden High School      85.000000      83.815534
Huang High School       76.446602      81.417476
Johnson High School     77.491653      80.616027
Pena High School        84.328125      84.335938
Rodriguez High School   76.395626      80.864811
Shelton High School     83.383495      84.373786
Thomas High School      83.498795      83.585542
Wilson High School      83.195326      83.764608
Wright High School      83.836782      84.156322

In [48]:
twelth= by_grade_scores_df.loc[by_grade_scores_df["Grade"] == "12th", :]
twelth_gby_mean = twelth.groupby('School Name').mean()
print(twelth_gby_mean)

                       Math Score  Reading Score
School Name
Bailey High School      76.492218      80.912451
Cabrera High School     83.277487      84.287958
Figueroa High School    77.151369      81.384863
Ford High School        76.179963      80.662338
Griffin High School     83.356164      84.013699
Hernandez High School   77.186567      80.857143
Holden High School      82.855422      84.698795
Huang High School       77.225641      80.305983
Johnson High School     76.863248      81.227564
Pena High School        84.121547      84.591160
Rodriguez High School   77.690748      80.376426
Shelton High School     83.778976      82.781671
Thomas High School      83.497041      83.831361
Wilson High School      83.035794      84.317673
Wright High School      83.644986      84.073171

In [49]:
# Merge two dataframes 
scores_table = pd.merge(ninth_gby_mean, tenth_gby_mean, on="School Name")
scores_table

,Math Score_x,Reading Score_x,Math Score_y,Reading Score_y
School Name,,,,
Bailey High School,77.083676,81.303155,76.996772,80.907183
Cabrera High School,83.094697,83.676136,83.154506,84.253219
Figueroa High School,76.403037,81.198598,76.539974,81.408912
Ford High School,77.361345,80.632653,77.672316,81.262712
Griffin High School,82.044010,83.369193,84.229064,83.706897
Hernandez High School,77.438495,80.866860,77.337408,80.660147
Holden High School,83.787402,83.677165,83.429825,83.324561
Huang High School,77.027251,81.290284,75.908735,81.512386
Johnson High School,77.187857,81.260714,76.691117,80.773431
Pena High School,83.625455,83.807273,83.372000,83.612000
Rodriguez High School,76.859966,80.993127,76.612500,80.629808
Shelton High School,83.420755,84.122642,82.917411,83.441964
Thomas High School,83.590022,83.728850,83.087886,84.254157
Wilson High School,83.085578,83.939778,83.724422,84.021452
Wright High School,83.264706,83.833333,84.010288,83.812757

In [50]:
# rename the score columns
scores_table = scores_table.rename(
    columns={"Math Score_x": "9th Grade Math Average", 
             "Reading Score_x": "9th Grade Reading Average",
             "Math Score_y": "10th Grade Math Average", 
             "Reading Score_y": "10th Grade Reading Average"})
scores_table

,9th Grade Math Average,9th Grade Reading Average,10th Grade Math Average,10th Grade Reading Average
School Name,,,,
Bailey High School,77.083676,81.303155,76.996772,80.907183
Cabrera High School,83.094697,83.676136,83.154506,84.253219
Figueroa High School,76.403037,81.198598,76.539974,81.408912
Ford High School,77.361345,80.632653,77.672316,81.262712
Griffin High School,82.044010,83.369193,84.229064,83.706897
Hernandez High School,77.438495,80.866860,77.337408,80.660147
Holden High School,83.787402,83.677165,83.429825,83.324561
Huang High School,77.027251,81.290284,75.908735,81.512386
Johnson High School,77.187857,81.260714,76.691117,80.773431
Pena High School,83.625455,83.807273,83.372000,83.612000
Rodriguez High School,76.859966,80.993127,76.612500,80.629808
Shelton High School,83.420755,84.122642,82.917411,83.441964
Thomas High School,83.590022,83.728850,83.087886,84.254157
Wilson High School,83.085578,83.939778,83.724422,84.021452
Wright High School,83.264706,83.833333,84.010288,83.812757

In [51]:
# Merge two dataframes 
scores_table = pd.merge(scores_table, eleventh_gby_mean, on="School Name")
scores_table

,9th Grade Math Average,9th Grade Reading Average,10th Grade Math Average,10th Grade Reading Average,Math Score,Reading Score
School Name,,,,,,
Bailey High School,77.083676,81.303155,76.996772,80.907183,77.515588,80.945643
Cabrera High School,83.094697,83.676136,83.154506,84.253219,82.765560,83.788382
Figueroa High School,76.403037,81.198598,76.539974,81.408912,76.884344,80.640339
Ford High School,77.361345,80.632653,77.672316,81.262712,76.918058,80.403642
Griffin High School,82.044010,83.369193,84.229064,83.706897,83.842105,84.288089
Hernandez High School,77.438495,80.866860,77.337408,80.660147,77.136029,81.396140
Holden High School,83.787402,83.677165,83.429825,83.324561,85.000000,83.815534
Huang High School,77.027251,81.290284,75.908735,81.512386,76.446602,81.417476
Johnson High School,77.187857,81.260714,76.691117,80.773431,77.491653,80.616027
Pena High School,83.625455,83.807273,83.372000,83.612000,84.328125,84.335938
Rodriguez High School,76.859966,80.993127,76.612500,80.629808,76.395626,80.864811
Shelton High School,83.420755,84.122642,82.917411,83.441964,83.383495,84.373786
Thomas High School,83.590022,83.728850,83.087886,84.254157,83.498795,83.585542
Wilson High School,83.085578,83.939778,83.724422,84.021452,83.195326,83.764608
Wright High School,83.264706,83.833333,84.010288,83.812757,83.836782,84.156322

In [52]:
# rename the score columns
scores_table = scores_table.rename(
    columns={"Math Score": "11th Grade Math Average", 
             "Reading Score": "11th Grade Reading Average"})
scores_table

,9th Grade Math Average,9th Grade Reading Average,10th Grade Math Average,10th Grade Reading Average,11th Grade Math Average,11th Grade Reading Average
School Name,,,,,,
Bailey High School,77.083676,81.303155,76.996772,80.907183,77.515588,80.945643
Cabrera High School,83.094697,83.676136,83.154506,84.253219,82.765560,83.788382
Figueroa High School,76.403037,81.198598,76.539974,81.408912,76.884344,80.640339
Ford High School,77.361345,80.632653,77.672316,81.262712,76.918058,80.403642
Griffin High School,82.044010,83.369193,84.229064,83.706897,83.842105,84.288089
Hernandez High School,77.438495,80.866860,77.337408,80.660147,77.136029,81.396140
Holden High School,83.787402,83.677165,83.429825,83.324561,85.000000,83.815534
Huang High School,77.027251,81.290284,75.908735,81.512386,76.446602,81.417476
Johnson High School,77.187857,81.260714,76.691117,80.773431,77.491653,80.616027
Pena High School,83.625455,83.807273,83.372000,83.612000,84.328125,84.335938
Rodriguez High School,76.859966,80.993127,76.612500,80.629808,76.395626,80.864811
Shelton High School,83.420755,84.122642,82.917411,83.441964,83.383495,84.373786
Thomas High School,83.590022,83.728850,83.087886,84.254157,83.498795,83.585542
Wilson High School,83.085578,83.939778,83.724422,84.021452,83.195326,83.764608
Wright High School,83.264706,83.833333,84.010288,83.812757,83.836782,84.156322

In [53]:
# Merge two dataframes 
scores_table = pd.merge(scores_table, twelth_gby_mean, on="School Name")
scores_table

,9th Grade Math Average,9th Grade Reading Average,10th Grade Math Average,10th Grade Reading Average,11th Grade Math Average,11th Grade Reading Average,Math Score,Reading Score
School Name,,,,,,,,
Bailey High School,77.083676,81.303155,76.996772,80.907183,77.515588,80.945643,76.492218,80.912451
Cabrera High School,83.094697,83.676136,83.154506,84.253219,82.765560,83.788382,83.277487,84.287958
Figueroa High School,76.403037,81.198598,76.539974,81.408912,76.884344,80.640339,77.151369,81.384863
Ford High School,77.361345,80.632653,77.672316,81.262712,76.918058,80.403642,76.179963,80.662338
Griffin High School,82.044010,83.369193,84.229064,83.706897,83.842105,84.288089,83.356164,84.013699
Hernandez High School,77.438495,80.866860,77.337408,80.660147,77.136029,81.396140,77.186567,80.857143
Holden High School,83.787402,83.677165,83.429825,83.324561,85.000000,83.815534,82.855422,84.698795
Huang High School,77.027251,81.290284,75.908735,81.512386,76.446602,81.417476,77.225641,80.305983
Johnson High School,77.187857,81.260714,76.691117,80.773431,77.491653,80.616027,76.863248,81.227564
Pena High School,83.625455,83.807273,83.372000,83.612000,84.328125,84.335938,84.121547,84.591160
Rodriguez High School,76.859966,80.993127,76.612500,80.629808,76.395626,80.864811,77.690748,80.376426
Shelton High School,83.420755,84.122642,82.917411,83.441964,83.383495,84.373786,83.778976,82.781671
Thomas High School,83.590022,83.728850,83.087886,84.254157,83.498795,83.585542,83.497041,83.831361
Wilson High School,83.085578,83.939778,83.724422,84.021452,83.195326,83.764608,83.035794,84.317673
Wright High School,83.264706,83.833333,84.010288,83.812757,83.836782,84.156322,83.644986,84.073171

In [54]:
# rename the score columns
scores_table = scores_table.rename(
    columns={"Math Score": "12th Grade Math Average", 
             "Reading Score": "12th Grade Reading Average"})

## Average Math and Reading Scores by Grade (9th - 12th) Results

In [55]:
# This is the final table result for the grade-wise math and reading scores.
scores_table

,9th Grade Math Average,9th Grade Reading Average,10th Grade Math Average,10th Grade Reading Average,11th Grade Math Average,11th Grade Reading Average,12th Grade Math Average,12th Grade Reading Average
School Name,,,,,,,,
Bailey High School,77.083676,81.303155,76.996772,80.907183,77.515588,80.945643,76.492218,80.912451
Cabrera High School,83.094697,83.676136,83.154506,84.253219,82.765560,83.788382,83.277487,84.287958
Figueroa High School,76.403037,81.198598,76.539974,81.408912,76.884344,80.640339,77.151369,81.384863
Ford High School,77.361345,80.632653,77.672316,81.262712,76.918058,80.403642,76.179963,80.662338
Griffin High School,82.044010,83.369193,84.229064,83.706897,83.842105,84.288089,83.356164,84.013699
Hernandez High School,77.438495,80.866860,77.337408,80.660147,77.136029,81.396140,77.186567,80.857143
Holden High School,83.787402,83.677165,83.429825,83.324561,85.000000,83.815534,82.855422,84.698795
Huang High School,77.027251,81.290284,75.908735,81.512386,76.446602,81.417476,77.225641,80.305983
Johnson High School,77.187857,81.260714,76.691117,80.773431,77.491653,80.616027,76.863248,81.227564
Pena High School,83.625455,83.807273,83.372000,83.612000,84.328125,84.335938,84.121547,84.591160
Rodriguez High School,76.859966,80.993127,76.612500,80.629808,76.395626,80.864811,77.690748,80.376426
Shelton High School,83.420755,84.122642,82.917411,83.441964,83.383495,84.373786,83.778976,82.781671
Thomas High School,83.590022,83.728850,83.087886,84.254157,83.498795,83.585542,83.497041,83.831361
Wilson High School,83.085578,83.939778,83.724422,84.021452,83.195326,83.764608,83.035794,84.317673
Wright High School,83.264706,83.833333,84.010288,83.812757,83.836782,84.156322,83.644986,84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [56]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names_spend = ["<$585", "$585-615", "$615-645", "$645-675"]

In [57]:
# To sort from highest to lowest, ascending=False must be passed in
perStudentBudget_compare_df = final_df[["Per Student Budget", "Average Math Score", "Average Reading Score",
                                    "% Passed Math", "% Passed Reading", "Overall Passing Rate"]]
perStudentBudget_compare_df.head()

,,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,Overall Passing Rate
School Name,Type,,,,,,
Bailey High School,District,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

In [58]:
perStudentBudget_compare_df["Student Spending Comparison"] = pd.cut(perStudentBudget_compare_df["Per Student Budget"], 
                                                                 spending_bins, labels=group_names_spend)
perStudentBudget_compare_df

C:\Users\pbroll\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,Overall Passing Rate,Student Spending Comparison
School Name,Type,,,,,,,
Bailey High School,District,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645
Cabrera High School,Charter,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585
Figueroa High School,District,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645
Ford High School,District,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645
Griffin High School,Charter,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645
Hernandez High School,District,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675
Holden High School,Charter,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$585
Huang High School,District,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675
Johnson High School,District,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675
Pena High School,Charter,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-615
Rodriguez High School,District,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$615-645
Shelton High School,Charter,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-615
Thomas High School,Charter,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$615-645
Wilson High School,Charter,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$585
Wright High School,Charter,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$585

## Scores by School Spending Results

In [59]:
# To sort from highest to lowest, ascending=False must be passed in
spend_best_pass_df = perStudentBudget_compare_df.sort_values("Overall Passing Rate", ascending=False)
spend_best_pass_df.head(15)

,,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,Overall Passing Rate,Student Spending Comparison
School Name,Type,,,,,,,
Cabrera High School,Charter,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585
Thomas High School,Charter,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$615-645
Pena High School,Charter,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-615
Griffin High School,Charter,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645
Wilson High School,Charter,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$585
Wright High School,Charter,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$585
Shelton High School,Charter,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-615
Holden High School,Charter,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$585
Bailey High School,District,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645
Hernandez High School,District,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675
Ford High School,District,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645
Johnson High School,District,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675
Huang High School,District,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675
Figueroa High School,District,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645
Rodriguez High School,District,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$615-645

* Perform the same operations as above, based on school size.

## Scores by School Size

In [60]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names_size = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [61]:
# To sort from highest to lowest, ascending=False must be passed in
perSchoolSize_compare_df = final_df[["Total Students", "Average Math Score", "Average Reading Score",
                                    "% Passed Math", "% Passed Reading", "Overall Passing Rate"]]
perSchoolSize_compare_df.head()

,,Total Students,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,Overall Passing Rate
School Name,Type,,,,,,
Bailey High School,District,4976.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468.0,83.351499,83.816757,93.392371,97.138965,95.265668

In [62]:
perSchoolSize_compare_df["Student Size Comparison"] = pd.cut(perSchoolSize_compare_df["Total Students"], 
                                                                 size_bins, labels=group_names_size)
perSchoolSize_compare_df

C:\Users\pbroll\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,,Total Students,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,Overall Passing Rate,Student Size Comparison
School Name,Type,,,,,,,
Bailey High School,District,4976.0,77.048432,81.033963,66.680064,81.933280,74.306672,Large (2000-5000)
Cabrera High School,Charter,1858.0,83.061895,83.975780,94.133477,97.039828,95.586652,Medium (1000-2000)
Figueroa High School,District,2949.0,76.711767,81.158020,65.988471,80.739234,73.363852,Large (2000-5000)
Ford High School,District,2739.0,77.102592,80.746258,68.309602,79.299014,73.804308,Large (2000-5000)
Griffin High School,Charter,1468.0,83.351499,83.816757,93.392371,97.138965,95.265668,Medium (1000-2000)
Hernandez High School,District,4635.0,77.289752,80.934412,66.752967,80.862999,73.807983,Large (2000-5000)
Holden High School,Charter,427.0,83.803279,83.814988,92.505855,96.252927,94.379391,Small (<1000)
Huang High School,District,2917.0,76.629414,81.182722,65.683922,81.316421,73.500171,Large (2000-5000)
Johnson High School,District,4761.0,77.072464,80.966394,66.057551,81.222432,73.639992,Large (2000-5000)
Pena High School,Charter,962.0,83.839917,84.044699,94.594595,95.945946,95.270270,Small (<1000)
Rodriguez High School,District,3999.0,76.842711,80.744686,66.366592,80.220055,73.293323,Large (2000-5000)
Shelton High School,Charter,1761.0,83.359455,83.725724,93.867121,95.854628,94.860875,Medium (1000-2000)
Thomas High School,Charter,1635.0,83.418349,83.848930,93.272171,97.308869,95.290520,Medium (1000-2000)
Wilson High School,Charter,2283.0,83.274201,83.989488,93.867718,96.539641,95.203679,Large (2000-5000)
Wright High School,Charter,1800.0,83.682222,83.955000,93.333333,96.611111,94.972222,Medium (1000-2000)

## Scores by School Size Results

In [63]:
# To sort from highest to lowest, ascending=False must be passed in
size_best_pass_df = perSchoolSize_compare_df.sort_values("Overall Passing Rate", ascending=False)
size_best_pass_df.head(15)

,,Total Students,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,Overall Passing Rate,Student Size Comparison
School Name,Type,,,,,,,
Cabrera High School,Charter,1858.0,83.061895,83.975780,94.133477,97.039828,95.586652,Medium (1000-2000)
Thomas High School,Charter,1635.0,83.418349,83.848930,93.272171,97.308869,95.290520,Medium (1000-2000)
Pena High School,Charter,962.0,83.839917,84.044699,94.594595,95.945946,95.270270,Small (<1000)
Griffin High School,Charter,1468.0,83.351499,83.816757,93.392371,97.138965,95.265668,Medium (1000-2000)
Wilson High School,Charter,2283.0,83.274201,83.989488,93.867718,96.539641,95.203679,Large (2000-5000)
Wright High School,Charter,1800.0,83.682222,83.955000,93.333333,96.611111,94.972222,Medium (1000-2000)
Shelton High School,Charter,1761.0,83.359455,83.725724,93.867121,95.854628,94.860875,Medium (1000-2000)
Holden High School,Charter,427.0,83.803279,83.814988,92.505855,96.252927,94.379391,Small (<1000)
Bailey High School,District,4976.0,77.048432,81.033963,66.680064,81.933280,74.306672,Large (2000-5000)
Hernandez High School,District,4635.0,77.289752,80.934412,66.752967,80.862999,73.807983,Large (2000-5000)
Ford High School,District,2739.0,77.102592,80.746258,68.309602,79.299014,73.804308,Large (2000-5000)
Johnson High School,District,4761.0,77.072464,80.966394,66.057551,81.222432,73.639992,Large (2000-5000)
Huang High School,District,2917.0,76.629414,81.182722,65.683922,81.316421,73.500171,Large (2000-5000)
Figueroa High School,District,2949.0,76.711767,81.158020,65.988471,80.739234,73.363852,Large (2000-5000)
Rodriguez High School,District,3999.0,76.842711,80.744686,66.366592,80.220055,73.293323,Large (2000-5000)

## Scores by School Type

* Perform the same operations as above, based on school type.

There are only two types of schools: District or Charter. A simple sort of overall test scores shows the results.

In [64]:
# To sort from highest to lowest, ascending=False must be passed in
type_best_pass_df = final_df.sort_values("Overall Passing Rate", ascending=False)
type_best_pass_df.head(15)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,Overall Passing Rate
School Name,Type,,,,,,,,
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800.0,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222
Shelton High School,Charter,1761.0,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Holden High School,Charter,427.0,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323

## Two Observable Trends
 - Charter schools outperform the district schools with overall pass rates in the mid to upper 90% level with the district schools in the mid to lower 70% level. 
 - Funding level per student and total school size does not seem to correlate with overall test performance.
 - Reading test scores are higher than math test scores.